<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <link rel="stylesheet" href="../static/loading.css">
</head>
<body>
    <div class="loading-animation">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>
    <script>
        // Redirect to the entered URL after 2 seconds
        const url = localStorage.getItem("url");
        setTimeout(() => {
            if (url) {
                window.location.href = url;
            }
        }, 2000);
    </script>
</body>
</html>
